/* Table Styling */

.vehicle-information {
	overflow-y: auto;
	height: 500px;
	h3 {
		text-align: center;
	}

	@media screen and (max-width: 500px) {
		width: 95%;
		margin: auto;
	  }
}

.table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.table td,
.table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}

.table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #2c3e50;
	color: white;
	position: sticky;
	top: 0;
}
